@import './base.css';

#app {
    max-width: 100%;
    margin: 0 auto;
    font-weight: normal;
}

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }

    #app {
        display: grid;
        grid-template-columns: 1fr;
    }
}

/* Linkler */
a {
    text-decoration: none;
    transition: opacity 0.4s;
    padding: 3px;
}

@media (hover: hover) {
    a:hover {
        opacity: 0.95;
    }
}


/* Card bileşeni */
.card {
    background: var(--card-bg);
    border: var(--card-border);
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}
